<% if resource.present? && resource.errors.present? %>
  <%= content_tag :div,
                  class: 'resource-errors alert alert-danger',
                  data: { resource_id: resource.id },
                  role: 'alert' do %>
    <h4 class="alert-heading"><%= t('.header', count: resource.errors.count) %></h4>
    <hr>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="fz-14"><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
