<div class="nav nav-user">
  <%= link_to 'TestGuru', root_path, class: 'nav-user title' %>

  <% if user_signed_in? %>
    <div class="nav-user user">
      Welcome, <b class="nav-user user-email"><%= current_user.email %></b> Guru |
      <%= link_to 'MyBadges', my_badges_path %> |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
  <% end %>
</div>