footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 17px;

  & a {
    margin-left: 6px;
  }

  & .container {
    display: flex;
    justify-content: center;
  }

}

.footer__icon-heart {
  color: deeppink;
}
