.nav.nav-user {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  line-height: 35px;
  color: #000000;
  background-color: #dfe1e6;
  margin-bottom: 40px;

  & a {
    color: #000000;

    &:hover {
      color: #4293e6;
      text-shadow: 1px 1px 1px #000;
    }
  }
}

.nav.nav-admin {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;

  & a {
    color: #ffffff;

    &:hover {
      color: #000;
      text-shadow: 1px 1px 1px #4293e6;
    }
  }
}

.nav-admin.title, .nav-user.title {
  font-size: 130%;
  font-weight: bold;
  color: #fff;
  margin-left: 14px;
}

.nav-admin.user {
  color: #ffffff;
}

.nav-admin.user-email:hover, .nav-user.user-email {
  cursor: pointer;
  text-decoration: underline;
}

.navbar-icon {
  width: 140px;
  height: 50px;
  background: url("guru_blue.png") no-repeat center/100%;
}

.nav-admin a {
  color: #ffffff;
   &:hover {
     color: #000;
     text-shadow: 1px 1px 1px #4293e6;
   }
}
