<div>
  <% if @test.questions.any? %>
    <h3>Test questions:</h3>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Body</th>
        <th colspan="3">Action</th>
      </tr>
      </thead>

      <tbody>
      <%= render @test.questions %>

      </tbody>
    </table>
  <% else %>
    <p>No questions yet</p>
  <% end %>
</div>
