<h1>Tricky Tests</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Category</th>
    <th>Total questions</th>
    <th>Author</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <%= render @tests %>
  </tbody>
</table>
