<footer>

  <div class="container">
    <p><strong>@<%= current_year %> with <span class="footer__icon-heart">♥</span> Dmitriy Vorontsov | </strong></p>
    <p>
      <%= github_url("Test Guru", "supervoron1", "thinknetica-test-guru") %>
      - is a part of RoR basic course<%= link_to '@Thinknetica', 'http://thinknetica.com/', :target => "_blank" %>
    </p>
  </div>

</footer>
